<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>OKfoot</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <!-- Bootstrap core CSS -->
    <!-- <link href="/assets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="/assets/sticky-footer-navbar.css" rel="stylesheet"> -->
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
    function search() {
      if (window.event.keyCode==13) {
        document.search-box.submit();
      }
    }
   
    function feedback() {
      $('#myModal').modal();
    }

    function send() {
      $('#myModal').modal('hide');
      $.ajax({
        url: "/feedbacks/index",
        data: {
                feedback: $('#feedback-text').val()
            },
        crossDomain: true
      }).done(function(data){
      })
    }
    </script>
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">OKfoot</a>
          </div>
          <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">England <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/articles/search/england">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="/articles/search/dailytelegraph">The Daily Telegraph</a></li>
                <li><a href="/articles/search/dailymail">Daily Mail</a></li>
                <li><a href="/articles/search/independent">The Independent</a></li>
                <li><a href="/articles/search/Evening%20Standard">Evening Standard</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Spain <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/articles/search/spain">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="/articles/search/MARCA">MARCA</a></li>
                <li><a href="/articles/search/mundo%20deportivo">El Mundo Deportivo</a></li>
                <li><a href="/articles/search/sport">SPORT</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Germany <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/articles/search/germany">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="/articles/search/kicker">Kicker-Sportmagazin</a></li>
                <li><a href="/articles/search/build">Bild-Zeitung</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Italy <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/articles/search/italy">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="/articles/search/gazzetta%20dello%20sport">La Gazzetta dello Sport</a></li>
                <li><a href="/articles/search/corriere%20dello%20sport">Corriere dello Sport</a></li>
                <li><a href="/articles/search/tutto%20sport">Tuttosport</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">France <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/articles/search/france">All</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">News Papers</li>
                <li><a href="/articles/search/Lequipe">L'Equip</a></li>
                <li><a href="/articles/search/Le%20Monde">Le Monde</a></li>
              </ul>
            </li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">About</a></li>
            <li><a href="#" onclick="feedback();">Feedback</a></li>
          </ul>

          <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" name="search-box" action="/articles/search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" onkeydown="search();" name="keyword">
              </div>
            </form>
          </div>
          
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>OKfoot.ME</h1>
        </div>
        <p class="lead">Collect football news around the world.</p>

        <!-- Article List -->
        <div id="article-list">
          <% @result_array.each do |result| %>
            <div class="article-list-title">
              <h3><%= link_to result["title"], result["link"] %></h3>
              <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> <%= result["title_ja"] %></h5>
              <div>
                <span class="<%= result["label_style"] %>"><%= result["feedname"] %></span> <strong><%= result["author"] %></strong> <%= result["published_date"] %>
                </div>
            </div>
          <% end %>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Feedback & Contact</h4>
            </div>
            <div class="modal-body">
            <p>Do you have feedback or questions?</p>
            <textarea id="feedback-text" class="form-control" rows="3"></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="send();">Send</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    </div>
    
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Copyright (C) 2013 crossnote All Rights Reserved.</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <!-- <script src="/assets/bootstrap.js"></script> -->
  </body>
</html>
