      <div class="container">
        <!-- Article List -->
        <div id="article-list">
          <% @result_array.each do |result| %>
            <div class="article-list-title">
              <h3><%= link_to result["title"], result["link"] %></h3>
              <h5 class="text-muted"><span class="glyphicon glyphicon-transfer"></span> <%= result["title_ja"] %></h5>
              <div>
                <span class="<%= result["label_style"] %>"><%= result["feedname"] %></span> <strong><%= result["author"] %></strong> <%= result["published_date"] %>
                </div>
            </div>
          <% end %>
        </div>
      </div>

